<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Service.Bus.ConnectionString" value="Endpoint=sb://chatapplication.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kci9mvLVP1yj/W9b7okeJ05+1JMuRIdFJIRzA+uduic=" />
    <add key="Service.Bus.Topic" value="mytopic" />
  </appSettings>
</configuration>